@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap");
/* - Mixins start - */
/* - Common settings - */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

ol, ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-ms-clear {
  display: none;
}

input, button, textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a {
  color: inherit;
}

a:link, a:visited, a:hover {
  text-decoration: none;
}

* > button {
  -webkit-tap-highlight-color: transparent;
}

/* - common settings - */
html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body * > img, body * > button, body h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body * > img.info-icon, body * > img.swap-icon {
  height: 5vh;
}
body #root {
  background: url("./media/pattern.png");
  background-size: 6.5vh;
  display: grid;
  grid-template: auto 1fr auto/1fr;
  justify-items: center;
  row-gap: 15%;
}

#root > .loadscreen {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: url("./media/pattern.png");
  background-color: rgb(49, 49, 49);
  background-size: 6.5vh;
  display: grid;
  place-items: center;
}
#root > .loadscreen .loading-effect {
  width: 40px;
  height: 40px;
  -webkit-animation: effect 0.95s ease infinite;
          animation: effect 0.95s ease infinite;
}
#root > .loadscreen span {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-animation: colors 0.95s ease infinite;
          animation: colors 0.95s ease infinite;
}
#root > .loadscreen span:nth-child(2) {
  right: 0;
}
#root > .loadscreen span:nth-child(3) {
  right: 0;
  bottom: 0;
}
#root > .loadscreen span:nth-child(4) {
  left: 0;
  bottom: 0;
}
@-webkit-keyframes effect {
  0% {
    width: 40px;
    height: 40px;
  }
  90% {
    width: 80px;
    height: 80px;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes effect {
  0% {
    width: 40px;
    height: 40px;
  }
  90% {
    width: 80px;
    height: 80px;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@-webkit-keyframes colors {
  0% {
    background: #A00;
  }
  100% {
    background: #0A0;
  }
}
@keyframes colors {
  0% {
    background: #A00;
  }
  100% {
    background: #0A0;
  }
}

header h1 {
  margin: 1.5% 0% 0% 0%;
  font-family: "Libre Barcode 39 Text";
  font-size: 15vh;
}
header .info-btn {
  position: fixed;
  margin: 0.75%;
  top: 0;
  right: 0;
}
header .info-btn .info-icon {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 50%;
}
header .copy-tip {
  position: fixed;
  top: -5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.8vh;
  padding: 1vh 3.5vh;
  border-radius: 10%/50%;
}
header .copy-tip.active {
  -webkit-animation: copyTip 1s ease-in;
          animation: copyTip 1s ease-in;
}
@-webkit-keyframes copyTip {
  0%, 100% {
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
    top: 21%;
  }
  10%, 80% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
}
@keyframes copyTip {
  0%, 100% {
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
    top: 21%;
  }
  10%, 80% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
}

main {
  display: grid;
  grid-template: 1fr auto/1fr;
  row-gap: 10%;
  margin: 0 1.5%;
}
main .windows {
  display: grid;
  grid-template: 1fr/minmax(150px, 800px) auto minmax(150px, 800px);
  -webkit-column-gap: 2.5%;
     -moz-column-gap: 2.5%;
          column-gap: 2.5%;
}
main .windows_left, main .windows_right {
  position: relative;
}
main .windows_left textarea, main .windows_right textarea {
  height: 100%;
  width: 100%;
  padding: 2% 4vh 2% 2vh;
  border-radius: 3% 3% 3% 3%/6% 6% 6% 6%;
  -webkit-backdrop-filter: blur(0.2vh);
          backdrop-filter: blur(0.2vh);
  resize: none;
  word-break: break-word;
  white-space: break-spaces;
  line-height: 125%;
}
main .windows_left ::-webkit-scrollbar, main .windows_right ::-webkit-scrollbar {
  width: 1vh;
  background-color: rgba(0, 0, 0, 0);
}
main .windows_left ::-webkit-scrollbar-track, main .windows_right ::-webkit-scrollbar-track {
  margin: 35px 0 35px 0;
  background-color: rgba(0, 0, 0, 0);
}
main .windows_left .copy-btn, main .windows_right .copy-btn {
  position: absolute;
  top: 1.5%;
  right: 1.5%;
}
main .windows_left .copy-btn img, main .windows_right .copy-btn img {
  height: 3.5vh;
}
main .windows .mode-swap {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
main .windows .mode-swap .swap-icon {
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
main .windows .mode-swap .rotate {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
main .windows .mode-swap .unrotate {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
main .result {
  justify-self: center;
  padding: 0.75% 3%;
  border-radius: 10% 10% 10% 10%/40% 40% 40% 40%;
  font-size: 2.2vh;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
main .result:hover {
  padding: 0.75% 4.5%;
}

footer {
  -ms-flex-item-align: end;
      align-self: end;
  font-size: 1.5vh;
}

/*---------EnCryption-Theme------------*/
body.encryption #root {
  background-color: rgb(49, 49, 49);
}
body.encryption #root * > img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
body.encryption #root * > img.info-icon:hover, body.encryption #root * > img.swap-icon:hover {
  -webkit-filter: invert(0%);
          filter: invert(0%);
  background-color: #A00;
  -webkit-box-shadow: 0px 0px 0.3vh 0.3vh #A00;
          box-shadow: 0px 0px 0.3vh 0.3vh #A00;
}
body.encryption #root header h1 {
  color: #A00;
}
body.encryption #root header .copy-tip {
  color: black;
  background-color: rgb(255, 255, 255);
}
body.encryption #root main textarea {
  color: rgb(255, 255, 255);
  background-color: rgba(170, 0, 0, 0.05);
  border: 0.25vh solid #A00;
}
body.encryption #root main ::-webkit-scrollbar-thumb {
  background-color: #A00;
}
body.encryption #root main .result {
  border: 0.25vh solid #A00;
  color: white;
}
body.encryption #root main .result:hover {
  background-color: #A00;
}
body.encryption #root footer {
  color: white;
}
body.encryption #root footer div > span > a {
  color: #0A0;
}

/*---------DeCryption-Theme------------*/
body.decryption #root {
  background-color: rgb(255, 255, 255);
}
body.decryption #root * > img.info-icon:hover, body.decryption #root * > img.swap-icon:hover {
  -webkit-filter: invert(0%);
          filter: invert(0%);
  background-color: #0A0;
  -webkit-box-shadow: 0px 0px 0.3vh 0.3vh #0A0;
          box-shadow: 0px 0px 0.3vh 0.3vh #0A0;
}
body.decryption #root header h1 {
  color: #0A0;
}
body.decryption #root header .copy-tip {
  color: white;
  background-color: rgb(49, 49, 49);
}
body.decryption #root main textarea {
  color: black;
  background-color: rgba(0, 170, 0, 0.05);
  border: 0.25vh solid #0A0;
}
body.decryption #root main ::-webkit-scrollbar-thumb {
  background-color: #0A0;
}
body.decryption #root main .result {
  border: 0.25vh solid #0A0;
}
body.decryption #root main .result:hover {
  background-color: #0A0;
}
body.decryption #root footer > div > span > a {
  color: #A00;
}

/* ------------------- */