main {
  margin: 0 1.5%;
  @include grid_template(1fr auto / 1fr);
  row-gap: 10%;
  
  .windows {
    @include grid_template(1fr / minmax(150px, 800px) auto minmax(150px, 800px));    
    column-gap: 2.5%;

    &_left,  &_right {
      background-color: rgba(43, 43, 43, 0.205);
      border-radius: 3% 3% 3% 3% / 6% 6% 6% 6%;
      border: 2px solid #0A0; //change color to color: #A00;
      padding: 1%;

      resize: none;
    }

    &_left {
    }

    &_right {
    }

    .mode-swap {
      align-self: center;
      transform: rotate(90deg);
  
      .swap-icon {
        border-radius: 50%;
        transition: 
          background-color 0.15s ease, 
          box-shadow 0.15s ease, 
          transform 0.4s ease;
      }
      
      .swap-icon:hover { //invert color of icon to white
        transition: 
          background-color 0.15s ease, 
          box-shadow 0.15s ease, 
          transform 0.4s ease;
        background-color: rgba(200, 200, 200, 0.75);
        box-shadow: 0px 0px 10px 2px rgba(200, 200, 200, 1);
      }
      
      .rotate {
        transform: rotate(180deg);
      }
      
      .unrotate {
        transform: rotate(0deg);
      }
    }
  }

  .result {
    justify-self: center;
    padding: 0.75% 3%;

    border: 1.5px solid black;
    border-radius: 10% 10% 10% 10% / 40% 40% 40% 40%;
    font-size: 125%;

    transition: all 0.15s ease-in;
  }

  .result:hover { //change color, if decryp - green
    transition: all 0.15s ease-out;
    padding: 0.75% 4.5%;

    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #0A0;
    color: white;
  }
}