$gap: 2%;

@media (max-width: 700px) {

  body > #root {
    
    row-gap: $gap;

    .full-name {
      display: none;
    }

    main {
      row-gap: $gap;
      
      .windows {
        @include grid_template(1fr auto 1fr / minmax(auto, 650px));
        row-gap: $gap;

        textarea {
          padding: 1vh 4vh 0 1vh;
          margin-bottom: 4vh;
        } 
        
        .symbol-counter {
          font-size: 1.8vh;
        }

        .copy-btn {
          top: 20%;
        }

        .clean-btn {
          top: 68%;
        }

        .mode-swap {
          transform: rotate(0deg);
        }
      }  

      .result {
        padding: 1.5% 5%;
        font-size: 2vh;
      }

      .result:active {
        padding: 1.5% 7%;
      } 
    }
  }
}